{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Сервис по отображению данных из гугл-таблиц</h1>
                <p>Перейдя по ссылке "SpreadSheet" вы окажетесь в гугл таблице, которую можете редактировать, а данные
                будут обновляться на этом сайте. <br><br><strong>Для корректного отображения данных в колонке
                "№" не предполагается одинаковых значений, так как это уникальный номер в базе данных и
                в случае одинаковых значений запись будет сделана лишь одна.</strong></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
